<style>
  .center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  margin-top: 30%;
}
.centerIn{
  margin: auto;
  width: 50%;
}
#button{
padding: 40px;
font-weight: bold;
font-size: medium;
width:50%;
margin: auto;
}
</style>


<div class="center">
  <div class="centerIn">
    <h1>Quiz MongoDB</h1>
    <h2><--Good Luck--></h2>

  </div>

  <div class="centerIn">
    <button id="button" routerLink = "mcq">Start</button>
  </div>
</div>
<router-outlet></router-outlet>