<style type="text/css">
    p.button:hover {
        cursor: pointer;

    }

    #answer {
        margin-bottom: 5px;
        text-decoration: none;
        background-color: #ddd;
        color: darkolivegreen;
        font-weight: bold;
       
  width: 80%;
    }

    p.padding {
        padding: 0;
        margin: 0;
 
    }

    #answer:focus {
        outline: none;
        box-shadow: none;
        background-color: rgb(49, 49, 158);
    }
    .question{
        font-weight: bolder;
    }
    #userQu, #userAn{
        margin-left: 30px;
        margin-top: 40px;
    }
    #questcon{
        margin-left: 30px;
    }
    #h1score{
        text-align:center;
    }
</style>


<!-- <button (click) = "turnTo()" ></button> -->
<div id ="userQu">
    {{loadDataInfo()}}
    <P class="question">{{question}}</P>

    <div *ngFor="let m of mc; let i = index">
        <input id="answer" (click)="some(m)" type="button" class="button padding" id="answer" value="{{m}}">
    </div>
    <!-- {{console.log(mcq)}} -->
    <h5>{{userChooice}}</h5>
    <button (click)="storeAnser(userChooice)" [disabled]="isDone">Next</button>
</div>

<div *ngIf="isDone">
    <!-- <div *ngFor="let ua of userAnswers">
        <p>Ansewer----- {{ua.userAnswer}}</p>

    </div> -->

<section id= "userAn" *ngIf="mcq.length">
    <hr width="50%" size="10">
    <h1 id="h1score">You scored {{totalPointF()}}/{{mcq.length}}</h1>
<ng-container  *ngFor="let question of mcq;let i = index ">
    
    <!-- <div *ngFor="let question of mcq; let i = index"> -->
        <p  class="question">{{question.question}}</p>
        <!-- <p>{{question.mChooices}}</p> -->
        <div id="questcon" *ngFor="let mc of question.mChooices; ">
            <div>
                <p [style.color]="colorRightAn(mc) ? 'red' : 'balck'"
                [style.background-color]= "colorUserAn(mc) ? 'yellow' : 'white'">{{mc}}</p>
            </div>
            
         <!-- </div> -->
    </div>
</ng-container>
</section>
    <!-- <div *ngFor="let mc of mcq.mChooice">
        <p>{{mc}}</p>
        </div> -->
    <!-- <p>{{totalPoint}}</p> -->
</div>


<!-- <button routerLink="allmc">See your Scouce</button>
<router-outlet></router-outlet> -->